
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 60%;
    height: 80%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

input {
    padding: 0px 0px;
    width: 50%;
    height: 7%;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 20px 20px;
    transition: 0.3s ease;
    background: rgb(245, 245, 245);
}

input[type="submit"] {
    background: #040516;
    color: white;
}

input:focus {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    border-bottom: 3px solid #040516;
}

.nav {
    position: relative;
    width: 100vw;
    height: 25vh;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 2vw)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: Verdana;
  font-weight: 900;
}

.logo {
    font-size: 2rem;
    margin-left: 90px;
}

.slogan {
    margin-right: 100px;
    font-weight: 900;
    color: white;
    font-size: .8rem;
}

.thanks {
    margin: 10px auto;
    width: 30%;
    height: auto;
    padding: 30px;
    text-align: center;
    font-size: 1.2rem;
    background: rgb(216, 216, 216);
    border-radius: 8px;
}